<div class="center">
  <div class="col-6">
    <div class="card center mb-3">
      <div class="card-body">
        <h1 class="titulo">Powered by Manquitos team</h1>
        

        <div class="form-group">
          <label for="sel1">Select Partida:</label>
          <select class="form-control" id="sel1">
            <option>Programacion</option>
            <option>Taller Ing Software</option>
            <option>Software V</option>
            <option>Elmo la chupa by: Val</option>
            <option>Pornhub by: Wilfri</option>
            <option>Xvideos by: Elmo</option>
          </select>
        </div>
       
        <a routerLink="/temalist"  onclick="return confirm('¿Estás seguro de ver a elmo chu...?')" class="btn btn-success">Comenzar Partida</a>
      </div>
    </div>
  </div>
</div>


